html {
  background-color: darkgray;
}
.main {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.main__content {
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  background-color: black;
  border: 10px solid rgba(47, 47, 47, 1);
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 10px;
}
.display {
  width: 450px;
  height: 100px;
  background-color: rgb(216, 210, 210);
  margin-bottom: 10px;
  text-align: right;
  font-weight: initial;
  font-size: 4em;
}
button {
  border-radius: 5%;
  border: none;
  font-weight: initial;
  font-size: 2em;
  color: black;
  height: 80px;
  width: 105px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.calc__btn,
.calc__btn--equals {
  background-color: #67e667;
}
#operand,
#zero,
.calc__btn--decimal {
  background-color: #3aaacf;
}
#operator {
  background-color: #ffa240;
}
#zero {
  width: 220px;
}
#operand:hover,
#operator:hover,
button:hover {
  background-color: #ff3434;
}
#operand:active,
#operator:active,
button:active {
  background-color: red;
}
